{#
/**
 * @file
 * Default theme implementation for jPlayer audio player.
 *
 * Available variables:
 * - plugin_id: the name of the plugin being used for templating.
 * - plugin_theme: the name of the specific plugin theme, if it exists.
 * - files: array of render info for each file.
 * - settings: array of settings for thie player.
 *
 * @ingroup themeable
 */
#}
<div class="audiofield">

  {% if settings.audio_player_jplayer_theme == 'audiofield.jplayer.theme_jplayer_circle' %}
    {% for file in files %}
    <div class="audiofield-player">
        <div id="jquery_jplayer_{{ file.id }}" class="cp-jplayer"></div>
        <div class="cp-circle-frame">
          <div id="cp_container_{{ file.id }}" class="cp-container">
            <div class="cp-buffer-holder">
              <div class="cp-buffer-1"></div>
              <div class="cp-buffer-2"></div>
            </div>
            <div class="cp-progress-holder">
              <div class="cp-progress-1"></div>
              <div class="cp-progress-2"></div>
            </div>
            <div class="cp-circle-control"></div>
            <ul class="cp-controls">
              <li><a class="cp-play" tabindex="1">play</a></li>
              <li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li>
            </ul>
          </div>
          <label for="cp_container_{{ file.id }}">{{ file.description }}</label>
        </div>
      </div>
    {% endfor %}
  {% endif %}

</div>
