// Colours.
$border-color: #a6a6a6;
$border-color-active: #40b6ff;
$button-background: #fefefe;
$button-background-active: #fafafa;
$black: #000000;
$white: #ffffff;
$grey: #a6a6a6;
$grey-blue: #3c4f60;
$grey-blue--light: #0074bd;
$grey-dark: #717171;
$grey-light: #efefef;

// Elements.
$border-radius: 7px;
$border-radius-small: 5px;
