@import "variables";
@import "mixins";

.ui-dialog .paragraphs-add-dialog--categorized.ui-widget-content.ui-dialog-content {
  margin: 0;
  max-height: 550px;
  padding: 15px 20px;
}

.js .paragraphs-add-dialog--categorized,
.ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser #drupal-off-canvas {
  .dialog-header {
    margin: 0 0 15px 0;
  }

  .filter {
    display: inline-block;
    width: calc(100% - 100px);
  }

  .item-filter {
    font-size: 12px;
    padding: 5px 10px;
    width: 100%;
  }

  .search-description {
    font-size: 10px;
    margin: 10px 0 0 0;

    label {
      color: $black !important;
      cursor: pointer;
      font-weight: normal;
      text-transform: none;
    }

    input {
      margin-right: 5px;
    }
  }

  .button-group {
    margin-bottom: 10px;

    &.js-hide {
      display: none;
    }
  }

  .display-toggle {
    background-color: $grey-blue;
    background-size: 29px 29px;
    cursor: pointer;
    float: right;
    height: 29px;
    margin-left: 4px;
    text-indent: -100000px;
    width: 29px;

    &.style-tiles {
      @include mask-image("../images/style-tiles.svg");
    }

    &.style-list {
      @include mask-image("../images/style-list.svg");

      background-color: $grey;
    }
  }

  &.paragraphs-style-list {
    .style-tiles {
      background-color: $grey;
    }

    .style-list {
      background-color: $grey-blue;
    }

    .paragraphs-add-dialog--categorized {
      .paragraphs-add-dialog-list {
        display: block;
        flex-wrap: nowrap;
        max-width: 675px;
      }

      .paragraphs-add-dialog-row {
        display: block;
        flex: none;
        text-align: left;
        width: 670px;

        &.js-hide {
          display: none;
        }
      }

      .paragraphs-button--add-more {
        -webkit-appearance: button;
        border-radius: 5px;
        display: block;
        min-height: 25px;
        padding: 10px 10px 10px 0px;
        text-align: left;
        text-shadow: none;

        &:before {
          background-image: url(../images/paragraph_add.svg);
          background-size: 20px 20px;
          content: "";
          display: inline-block;
          float: left;
          height: 20px;
          left: -10px;
          position: relative;
          top: 50%;
          width: 20px;
        }

        &:active:before,
          &:focus:before,
          &:hover:before {
          background-image: url(../images/paragraph_add.hover.svg);
        }
      }

      .paragraphs-button--icon {
        display: none;
      }

      .paragraphs-label {
        color: $grey-blue;
        max-width: none;
        padding-left: 10px;
        text-align: left;
        width: auto;
      }

      .paragraphs-description {
        display: block;
        margin-top: 2px;
        max-width: 620px;
        padding-left: 30px;
      }
    }
  }

  &.paragraphs-style-list,
  &:not(.paragraphs-style-list) {
    .display-toggle {
      &.style-tiles:active,
        &.style-tiles:focus,
        &.style-tiles:hover,
        &.style-list:active,
        &.style-list:focus,
        &.style-list:hover {
        background-color: $border-color-active;
      }
    }
  }

  .paragraphs-add-dialog--categorized {
    .category-title {
      color: $grey-blue;
      font-size: 16px;
      text-transform: none;
    }

    summary {
      color: $grey-dark;
      display: block;
      font-size: 12px;
      font-weight: normal;
      text-transform: none;
    }

    .paragraphs-add-dialog-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px;
      /* Limit to 3 items in a row. */
      max-width: 675px;
    }

    .paragraphs-add-dialog-row {
      display: inline-block;
      flex-grow: 0;
      flex-shrink: 0;
      /** Use !important here to "fix" an override provided by gin. */
      flex-basis: 30% !important;

      &.js-hide {
        display: none;
      }
    }

    .paragraphs-button--add-more {
      background: none;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      min-height: 150px;
      min-width: 205px;
      padding: 5px;
      text-align: center;
      width: 100%;
      border: 1px solid #a6a6a6 !important;

      &:active,
        &:focus,
        &:hover {
        border-color: $border-color-active;
      }
    }

    .paragraphs-button--icon {
      -webkit-backface-visibility: hidden;
      background-color: transparent;
      background-position-x: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 4px;
      height: 123px;
      margin: 0 0 15px 0;
      padding: 0;
      width: 203px;

      &.image-default {
        background-image: url(../images/paragraphs-logo.png);
      }
    }

    &:not(.paragraphs-style-list) {
      .paragraphs-button--icon {
        &:before {
          background-image: url(../images/paragraph_add.svg);
          background-size: 62px 62px;
          content: "";
          display: inline-block;
          float: left;
          height: 62px;
          left: 50%;
          margin-left: -31px;
          margin-top: -31px;
          opacity: 0;
          position: relative;
          top: 50%;
          transition: opacity 500ms ease-in-out;
          width: 62px;
        }
      }

      .paragraphs-button--add-more {
        &:active .paragraphs-button--icon:before,
          &:focus .paragraphs-button--icon:before,
          &:hover .paragraphs-button--icon:before {
          background-image: url(../images/paragraph_add.hover.svg);
          opacity: 1;
        }
      }
    }
    .paragraphs-label {
      color: $grey-blue;
      margin-bottom: 5px;
      max-width: 184px;
      overflow: hidden;
      padding: 0 4px 0 8px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    .paragraphs-description {
      color: $grey-dark;
      font-size: 12px;
      font-weight: normal;
      max-height: 44px;
      overflow: hidden;
      padding: 0 4px 0 8px;
      text-align: left;
      text-overflow: ellipsis;
    }
  }
}

.ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser #drupal-off-canvas {
  .search-description label {
    color: $white !important;
  }
}
